<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="Item" class="com.dap.practice.Item">
     
     <!--  Property Based Injection
      <property name="name" value="Pen"></property>
       <property name="price" value="10"></property> -->
       
       <!-- Constructor Based Injection -->
       <constructor-arg value="Pen" type="String"></constructor-arg>
       <constructor-arg value="10" type="int"></constructor-arg>
       
    </bean>
         <bean id="Item_1" class="com.dap.practice.Item">
       <property name="name" value="Book"></property>
       <property name="price" value="100"></property>
    </bean>
        <bean id="Item_2" class="com.dap.practice.Item">
       <property name="name" value="Pencil"></property>
       <property name="price" value="5"></property>
    </bean>
      <bean id="Order" class="com.dap.practice.Order" init-method="initMyMethod" lazy-init="true">
       <property name="Item" ref="Item"></property>
       <property name="title" value="Purchase of Items."></property>
    </bean>
     <bean id="Order_1" class="com.dap.practice.Order" >
       <property name="Item" ref="Item_1"></property>
       <property name="title" value="Purchase of Items."></property>
    </bean>
     <bean id="Order_2" class="com.dap.practice.Order" >
       <property name="Item" ref="Item_2"></property>
       <property name="title" value="Purchase of Items."></property>
    </bean>
    
</beans>